@{
    ViewData["Title"] = "About";
    ViewData["Name"] = "Andreia Souza";
}
<h1>@ViewData["Title"]</h1>
<h3>@ViewData["Name"]</h3>
<h4>@ViewData["Message"]</h4>

<address>
    More information: <a href="http://www.linkedin.com/in/andreiafsouza">LinkedIn/andreiafsouza</a>
</address>

